body {
    background: white;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
    margin: 5%;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 10%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        margin: 0 20%;
    }
}

p {
    text-align: justify;
    text-justify: inter-word;
}
.container {
    padding: 0 20px;
    text-align: center;
}

a{
    color: #5505a6;
    /* color: #7022d2; */
    /* color: #9917a8 ;
    color: #ac0a68 ; */
}

a.link-to-content{
    color: #6b5584;
    
}

.talk-title{
    font-style: italic;
}